<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <title><%= title %></title>
    </head>

    <body>
        <div class="container">
            <h1>Get the listings, number_of_reviews and the corresponding host_name (name, host_name, number_of_reviews) that have received at least a certain number of reviews.</h1>
            <hr>

            <table class="table">
                <tr>
                    <th><h3>name</h3></th>
                    <th><h3>host_name</h3></th>
                    <th><h3>number_of_reviews</h3></th>
                </tr>
                <% for(var i = 0; i < listings.length; i++) { %>
                    <tr>
                        <td class="row"><%= listings[i].name %></td> 
                        <td><%= listings[i].host_name %></td>
                        <td><%= listings[i].number_of_reviews %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>

</html>