<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <title><%= title %></title>
    </head>

    <body>
        <div class="container">
            <h1><%= prompt %></h1>
            <ul>
                <% for(var i = 0; i < result.length; i++) { %>
                <li><%= result[i].neighbourhood_group %> at <%= result[i].latitude %> latitude</li>
                <% } %>
            </ul>
        </div>
    </body>

</html>